<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ name }} - not ready yet</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row"><div class="col-sm-12">
    <h1>Let's get some work done.</h1>
    <p>
        When you are in doubt, please go over the documentations:
    </p>
    <ul>
        <li><a href="http://flask.pocoo.org/docs/0.10/quickstart/">Flask</a></li>
    </ul>
    </div></div>
</div>
</p>
</body>
</html>